@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: #c4d6f2;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  color:#180736;
  background-color:white;
}

button {
  color:#c4f2ca;
  background-color:#180736;
  border-color:blue;
}

button:hover{
  color:yellow;
}